#gallerycards {
  border: 6px solid white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top: 20px; 
  width:375px;
  height:375px;
}

#galleryimg{
  height:90%;
}
#delete{
  margin-top:2px;
}

.galmodalImg {
  height:330px;
  width: 400px;
  object-fit: cover;
 margin:auto;
}


