#dashjumbo{
    background-image: url("../../heroimages/mixkit-starry-night-sky-over-hills-and-water-85-original.png");
    background-size: cover;
    text-align: center;
    color:white;
    padding-bottom: 10% !important;
}